{% extends "layout.html" %}

{% block content %}

        <div class="w3-container" style="width:800px;">

            <form action="/btonestepcreate" class="w3-container w3-card-4 w3-pale-blue w3-margin">
                <h2 class="w3-center">One-Step Backtracking</h2>

                <!-- <div class="w3-row w3-section">
                    <div class="w3-col" style="width:100px">Title</div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="title" type="text" placeholder="Title">
                    </div>
                </div> -->
                <div class="w3-half">
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:100px;padding-right: 20px;">Operation</div>
                    <div class="w3-rest" style="padding-right: 20px;">
                        <select class="w3-select w3-border" name="operation" required>
                            <!-- <option value="0" disabled selected></option> -->
                            {% for x in ops %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                </div>
                <div class="w3-half">
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:200px;padding-left: 20px;padding-right: 20px;">Number of Questions</div>
                    <div class="w3-rest">
                        <input type="number" name ="num_q" min="0" max="40" step="1" required>
                    </div>
                </div>
                </div>


                    <div class="w3-row w3-section">
                        <p class="w3-center">
                    <button class="w3-button w3-section w3-green w3-ripple"> Generate </button>                </p>
                </div>

            </form>
        </div>

        <!-- <style>
            .loader {
              border: 16px solid #f3f3f3;
              border-radius: 50%;
              border-top: 16px solid #3498db;
              width: 120px;
              height: 120px;
              -webkit-animation: spin 2s linear infinite; /* Safari */
              animation: spin 2s linear infinite;
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        </style>
        <div id="loader" class="loader" style="display:none;"></div>

        <script>
            function loader() {
                document.getElementById("loader").style.display = "block";
                }
        </script> -->
   
        {% endblock %}
