<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <header class="w3-container" style="background-color:#6e1a72;color:#fae500;height:200px; display: flex; align-items: center;">
        <div class="w3-half w3-container">
            <h1><b><a href="/" style="text-decoration: none;">Parade College<br> LaTeX Booklets</a></b></h1>
        </div>
        <div class="w3-half w3-container w3-right-align">
            <img src="https://www.parade.vic.edu.au/images/footer-logo.png" alt="Lights" style="width:100%;max-width:150px">
        </div>
    </header>

    <div class="w3-bar w3-light-grey ">
        <div class="w3-dropdown-hover w3-light-grey">
            <button class="w3-button">Backtracking</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/btonestep" class="w3-bar-item w3-button">One Step</a>
                <a href="/bttwostep" class="w3-bar-item w3-button">Two Step</a>
            </div>
        </div>
        <div class="w3-dropdown-hover w3-light-grey">
            <button class="w3-button">Charts and Axes</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/numberlines" class="w3-bar-item w3-button">Numberlines</a>
                <a href="/axes" class="w3-bar-item w3-button">Axes</a>
                <a href="/dotplots" class="w3-bar-item w3-button">Dotplots</a>
            </div>
        </div>

    </div>






    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />

    </div>



    <script src="/static/jquery-3.4.1.min.js"></script>
    {% block scripts %}{% endblock %}



</body>
</html> 
